DATABASE_URL=jdbc:postgresql://xxxxxxxxxxxxxxxxxxxx.pooler.supabase.com:5432/postgres
DATABASE_USERNAME=postgres.xxxxxxxxxxxxxxxxxxxx
DATABASE_PASSWORD=xxxxxxxxxxxxxxxxxxxx
REDIS_HOST=redis
REDIS_PORT=6379
